version: 2
updates:
  # Common settings are anchored on the first entry and reused via YAML merge
  - &common
    package-ecosystem: npm
    directory: /frontend
    schedule:
      interval: weekly
    open-pull-requests-limit: 1  # Max. one open PR at a time per app component
    ignore:  # Ignore major version updates for all packages in order to prevent breaking changes
      - dependency-name: "*"
        update-types:
          - version-update:semver-major
    groups:  # Group security updates together for easier management
      security-updates:
        dependency-type: security
        patterns:
          - "*"

  - <<: *common
    package-ecosystem: pip
    directory: /backend_py/primary

  - <<: *common
    package-ecosystem: pip
    directory: /backend_py/user_grid3d_ri

  - <<: *common
    package-ecosystem: pip
    directory: /backend_py/user_mock

  - <<: *common
    package-ecosystem: pip
    directory: /backend_py/libs/core_utils

  - <<: *common
    package-ecosystem: pip
    directory: /backend_py/libs/server_schemas

  - <<: *common
    package-ecosystem: pip
    directory: /backend_py/libs/services

  - <<: *common
    package-ecosystem: gomod
    directory: /backend_go/surface_query

  - <<: *common
    package-ecosystem: github-actions
    directory: /
