{
    "importOrder": [
        "^react?.+$",
        "^@",
        "^@core",
        "^@components",
        "^@shared-types",
        "^@assets",
        "^(?![@\\.]).+$",
        "^\\./",
        "^\\.\\./"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "singleQuote": false,
    "printWidth": 120,
    "tabWidth": 4
}
