# This configuration aims at being a good setup
# for doing development of the frontend + backend in combination.

version: '3.6'

services:

  frontend:
    build:
      context: .
      dockerfile: frontend-dev.Dockerfile
    ports:
      - 8080:8080
    volumes:
      - ./frontend/public:/usr/src/app/frontend/public
      - ./frontend/src:/usr/src/app/frontend/src
      - ./frontend/theme:/usr/src/app/frontend/theme
      - ./frontend/index.html:/usr/src/app/frontend/index.html

  backend:
    build:
      context: .
      dockerfile: backend.Dockerfile
    ports:
      - 5000:5000
    environment:
      - UVICORN_RELOAD=true
      - WEBVIZ_CLIENT_SECRET
      - WEBVIZ_SMDA_RESOURCE_SCOPE
    volumes:
      - ./backend/src:/home/appuser/backend/src

  redis:
    image: "bitnami/redis:6.2.10@sha256:bd42fcdab5959ce2b21b6ea8410d4b3ee87ecb2e320260326ec731ecfcffbd0e"
    expose:
      - "6379"
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    volumes:
      - redis-data:/data
      - redis-conf:/usr/local/etc/redis/redis.conf

volumes:
  redis-data:
  redis-conf:
