apiVersion: radix.equinor.com/v1
kind: RadixApplication
metadata:
  name: webviz
spec:
  environments:
    - name: prod
      build:
        from: main
  components:
    - name: frontend
      image: ghcr.io/equinor/webviz_frontend:latest
      alwaysPullImageOnDeploy: true
      publicPort: http
      ports:
        - name: http
          port: 8080
      environmentConfig:
        - environment: prod
    - name: backend
      image: ghcr.io/equinor/webviz_backend:latest
      alwaysPullImageOnDeploy: true
      ports:
        - name: http
          port: 5000
      secretRefs:
        azureKeyVaults:
          - name: webviz
            items:
              - name: WEBVIZ-CLIENT-SECRET
                envVar: WEBVIZ_CLIENT_SECRET
              - name: WEBVIZ-SMDA-RESOURCE-SCOPE
                envVar: WEBVIZ_SMDA_RESOURCE_SCOPE
      environmentConfig:
        - environment: prod
    - name: redis
      image: bitnami/redis:6.2.10@sha256:bd42fcdab5959ce2b21b6ea8410d4b3ee87ecb2e320260326ec731ecfcffbd0e
      ports:
        - name: http
          port: 6379
      variables:
        ALLOW_EMPTY_PASSWORD: yes
      environmentConfig:
        - environment: prod
  dnsAppAlias:
    environment: prod
    component: frontend
