apiVersion: radix.equinor.com/v1
kind: RadixApplication
metadata:
  name: webviz
spec:
  build:
    useBuildKit: true
  environments:
    - name: prod
    - name: preprod
      build:
        from: main
    - name: review
      build:
        from: review
    - name: dev
      build:
        from: dev

  components:
    - name: frontend
      dockerFileName: frontend-prod.Dockerfile
      publicPort: http
      ports:
        - name: http
          port: 8080
      network:
        ingress:
          public:
            proxyReadTimeout: 120

    - name: backend-primary
      dockerFileName: ./backend_py/primary/Dockerfile
      ports:
        - name: http
          port: 5000
      identity:
        azure:
          clientId: 900ed417-a860-4970-bd37-73b059ca6f0d
      secretRefs:
        azureKeyVaults:
          - name: webviz
            useAzureIdentity: true
            items:
              - name: WEBVIZ-CLIENT-SECRET
                envVar: WEBVIZ_CLIENT_SECRET
              - name: WEBVIZ-SMDA-SUBSCRIPTION-KEY
                envVar: WEBVIZ_SMDA_SUBSCRIPTION_KEY
              - name: WEBVIZ-ENTERPRISE-SUBSCRIPTION-KEY
                envVar: WEBVIZ_ENTERPRISE_SUBSCRIPTION_KEY
              # Inject all app insights connection strings as env vars.
              # Our azure monitor setup code will pick the right one based on the radix environment
              - name: WEBVIZ-INSIGHTS-CONNECTIONSTRING-PROD
                envVar: WEBVIZ_INSIGHTS_CONNECTIONSTRING_PROD
              - name: WEBVIZ-INSIGHTS-CONNECTIONSTRING-PREPROD
                envVar: WEBVIZ_INSIGHTS_CONNECTIONSTRING_PREPROD
              - name: WEBVIZ-INSIGHTS-CONNECTIONSTRING-DEV
                envVar: WEBVIZ_INSIGHTS_CONNECTIONSTRING_DEV
              - name: WEBVIZ-INSIGHTS-CONNECTIONSTRING-REVIEW
                envVar: WEBVIZ_INSIGHTS_CONNECTIONSTRING_REVIEW

      variables:
        UVICORN_PORT: 5000
        WEBVIZ_VDS_HOST_ADDRESS: "https://server-oneseismic-prod.radix.equinor.com"
      environmentConfig:
        - environment: prod
          resources:
            requests:
              memory: 8Gi
              cpu: 1000m
            limits:
              # Memory limit=request and cpu limit omitted on purpose
              memory: 8Gi
          horizontalScaling:
            minReplicas: 2
            maxReplicas: 4
            resources:
              memory:
                averageUtilization: 60
              cpu:
                averageUtilization: 80

        - environment: preprod
          resources:
            requests:
              memory: 4Gi
              cpu: 500m
            limits:
              memory: 4Gi
          horizontalScaling:
            minReplicas: 1
            maxReplicas: 3
            resources:
              memory:
                averageUtilization: 60
              cpu:
                averageUtilization: 80

        - environment: review
          resources:
            requests:
              memory: 4Gi
              cpu: 500m
            limits:
              memory: 4Gi
          horizontalScaling:
            minReplicas: 1
            maxReplicas: 3
            resources:
              memory:
                averageUtilization: 60
              cpu:
                averageUtilization: 80

        - environment: dev
          resources:
            requests:
              memory: 4Gi
              cpu: 500m
            limits:
              memory: 4Gi
          horizontalScaling:
            minReplicas: 1
            maxReplicas: 3
            resources:
              memory:
                averageUtilization: 60
              cpu:
                averageUtilization: 80

    - name: surface-query
      dockerFileName: ./backend_go/surface-query-prod.Dockerfile
      ports:
        - name: http
          port: 5001
      resources:
        requests:
          memory: 8Gi
          cpu: 2000m
        limits:
          # Even though the general advice is to leave cpu limit unspecified, here we set it to the same as requests.
          # As of now, it seems that it's the cpu limit value that will be picked up by automaxprocs utilized in the go service.
          memory: 8Gi
          cpu: 2000m
      horizontalScaling:
        minReplicas: 1
        maxReplicas: 4
        resources:
          memory:
            averageUtilization: 60
          cpu:
            averageUtilization: 80

    - name: redis-user-session
      image: redis:7.2
      runAsUser: 999
      command: ["redis-server",  "--loglevel", "notice"]
      ports:
        - name: http
          port: 6379

    - name: redis-cache
      image: redis:7.2
      runAsUser: 999
      # https://redis.io/docs/latest/operate/oss_and_stack/management/config/#configuring-redis-as-a-cache
      # maxmemory for redis must be aligned with component's requested memory, here 3gb vs 4gb
      command: ["redis-server",  "--maxmemory", "3gb",  "--maxmemory-policy", "allkeys-lru",  "--save", "''",  "--appendonly", "no",  "--loglevel", "notice"]
      ports:
        - name: http
          port: 6379
      resources:
        requests:
          memory: 4Gi
          cpu: 1000m
        limits:
          memory: 4Gi

  jobs:
    - name: user-mock
      dockerFileName: ./backend_py/user_mock/Dockerfile
      schedulerPort: 8001
      ports:
        - name: http
          port: 8001
      variables:
        UVICORN_PORT: 8001

    - name: user-grid3d-ri
      dockerFileName: ./backend_py/user_grid3d_ri/Dockerfile
      schedulerPort: 8002
      ports:
        - name: http
          port: 8002
      identity:
        azure:
          clientId: 900ed417-a860-4970-bd37-73b059ca6f0d
      secretRefs:
        azureKeyVaults:
          - name: webviz
            useAzureIdentity: true
            items:
              # Inject all app insights connection strings as env vars.
              # Our azure monitor setup code will pick the right one based on the radix environment
              - name: WEBVIZ-INSIGHTS-CONNECTIONSTRING-PROD
                envVar: WEBVIZ_INSIGHTS_CONNECTIONSTRING_PROD
              - name: WEBVIZ-INSIGHTS-CONNECTIONSTRING-PREPROD
                envVar: WEBVIZ_INSIGHTS_CONNECTIONSTRING_PREPROD
              - name: WEBVIZ-INSIGHTS-CONNECTIONSTRING-DEV
                envVar: WEBVIZ_INSIGHTS_CONNECTIONSTRING_DEV
              - name: WEBVIZ-INSIGHTS-CONNECTIONSTRING-REVIEW
                envVar: WEBVIZ_INSIGHTS_CONNECTIONSTRING_REVIEW
      variables:
        UVICORN_PORT: 8002
      payload:
        path: /compute/args

  dnsAppAlias:
    environment: prod
    component: frontend
  dnsExternalAlias:
    - alias: webviz.fmu.equinor.com
      component: frontend
      environment: prod
      useCertificateAutomation: true
