apiVersion: radix.equinor.com/v1
kind: RadixApplication
metadata:
  name: webviz
spec:
  environments:
    - name: prod
      build:
        from: main
  components:
    - name: frontend
      image: ghcr.io/equinor/webviz_frontend:latest
      alwaysPullImageOnDeploy: true
      publicPort: http
      ports:
        - name: http
          port: 8080
      environmentConfig:
        - environment: prod
    - name: backend
      image: ghcr.io/equinor/webviz_backend:latest
      alwaysPullImageOnDeploy: true
      ports:
        - name: http
          port: 5000
      secretRefs:
        azureKeyVaults:
          - name: webviz
            items:
              - name: WEBVIZ-TENANT-ID
                envVar: WEBVIZ_TENANT_ID
              - name: WEBVIZ-CLIENT-ID
                envVar: WEBVIZ_CLIENT_ID
              - name: WEBVIZ-CLIENT-SECRET
                envVar: WEBVIZ_CLIENT_SECRET
              - name: WEBVIZ-SUMO-RESOURCE-SCOPE
                envVar: WEBVIZ_SUMO_RESOURCE_SCOPE
              - name: WEBVIZ-SMDA-RESOURCE-SCOPE
                envVar: WEBVIZ_SMDA_RESOURCE_SCOPE
      environmentConfig:
        - environment: prod
  dnsAppAlias:
    environment: prod
    component: frontend
