html {
    font-size: 16px;
}

body {
    overflow: hidden;
    font-family: var(--font-sans);
    font-size: var(--font-size-);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
}

#root-portal {
    position: absolute;
    inset: 0;
}
