.webviz-spinner-amsterdam {
    position: relative;
    perspective: 1000;
}

.webviz-spinner-amsterdam > div {
    border-color: transparent;
}

.webviz-spinner-amsterdam > div:nth-child(1) {
    animation: spin1-amsterdam 1s linear infinite;
}

.webviz-spinner-amsterdam > div:nth-child(2) {
    animation: spin2-amsterdam 0.6s linear infinite;
}

.webviz-spinner-amsterdam > div:nth-child(3) {
    animation: spin3-amsterdam 0.8s linear infinite;
}

@keyframes spin1-amsterdam {
    0% {
        transform: rotateY(-10deg) rotateX(60deg) rotateY(48deg) rotateZ(0deg);
        border-top-color: #C8102E;
        z-index: -2;
    }
    49% {
        transform: rotateY(-10deg) rotateX(60deg) rotateY(48deg) rotateZ(179deg);
        border-top-color: #C8102E;
        z-index: 0;
    }
    50% {
        transform: rotateY(-10deg) rotateX(60deg) rotateY(48deg) rotateZ(180deg);
        border-top-color: #003DA5;
        z-index: 2;
    }
    100% {
        transform: rotateY(-10deg) rotateX(60deg) rotateY(48deg) rotateZ(359deg);
        border-top-color: #003DA5;
        z-index: 0;
    }
}

@keyframes spin2-amsterdam {
    0% {
        transform: rotateY(10deg) rotateX(60deg) rotateY(-48deg) rotateZ(0deg);
        border-top-color: #C8102E;
    }
    49% {
        transform: rotateY(10deg) rotateX(60deg) rotateY(-48deg) rotateZ(179deg);
        border-top-color: #C8102E;
    }
    50% {
        transform: rotateY(10deg) rotateX(60deg) rotateY(-48deg) rotateZ(180deg);
        border-top-color: #003DA5;
    }
    100% {
        transform: rotateY(10deg) rotateX(60deg) rotateY(-48deg) rotateZ(359deg);
        border-top-color: #003DA5;
    }
}

@keyframes spin3-amsterdam {
    0% {
        transform: rotateX(58deg) rotateZ(0deg);
        border-top-color: #003DA5;
        z-index: -1;
    }
    49% {
        transform: rotateX(58deg) rotateZ(179deg);
        border-top-color: #003DA5;
        z-index: 0;
    }
    50% {
        transform: rotateX(58deg) rotateZ(180deg);
        border-top-color: #C8102E;
        z-index: 1;
    }
    100% {
        transform: rotateX(58deg) rotateZ(359deg);
        border-top-color: #C8102E;
        z-index: 0;
    }
}
