@utility focusable {
    &:focus-visible,
    &:has(:focus-visible) {
        box-shadow:
            0 0 0 1px var(--eds-color-bg-neutral-canvas),
            0 0 0 3px var(--eds-color-border-focus);
        position: relative;
        z-index: 100;
    }
}

@layer utilities {
    .focusable :focus-visible {
        outline: none;
        box-shadow: none;
    }
}
