@utility h-selectable-sm {
    min-height: var(--size-selectable-sm);
}

@utility h-selectable-md {
    min-height: var(--size-selectable-md);
}

@utility h-selectable-lg {
    min-height: var(--size-selectable-lg);
}
