@import "tailwindcss";

/* Change dark mode selector to be class-based, instead of media-query */
@custom-variant dark (&:where(.dark, .dark *));

/* Additional tailwind component classes */
@utility input-comp {
    @apply hover:outline-1 hover:outline-blue-300 focus:outline-1 focus:outline-blue-600;
}

/* Reverts some default color changes introduced Tailwind v4. Remove if we're okay with the new ones */
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

@theme {
    /* Reverts ring default change introduced Tailwind v4 */
    /* ! variable only supported for compatibility reasons, and are not considered idiomatic usage of Tailwind CSS v4.0. */
    --default-ring-color: var(--color-blue-500);

    /* Animations */
    --animate-linear-indefinite: linear-indefinite 3s cubic-bezier(1, 0.1, 0.1, 1) infinite;

    @keyframes linear-indefinite {
        0% {
            transform: translateX(-100%) scaleX(1);
        }
        50% {
            transform: translateX(0%) scaleX(0.25);
        }
        100% {
            transform: translateX(100%);
        }
    }
}

/* Custom CSS styles*/

body {
    overflow: hidden;
    font-family: Equinor;
}

*::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: none;
    width: 4px;
    height: 4px;
}

* > *::-webkit-scrollbar-thumb {
    border-radius: 2px;
    width: 4px;
    height: 4px;
    background-color: rgba(190, 190, 190, 0.3);
    transition: background-color 0.5s ease-in-out;
}

*:hover > *::-webkit-scrollbar-thumb {
    width: 4px;
    height: 4px;
    background-color: rgba(190, 190, 190, 0.8);
    transition: background-color 0.5s ease-in-out;
}

*:hover > *::-webkit-scrollbar-thumb:hover {
    background-color: rgba(134, 134, 134, 0.9);
    transition: background-color 0.5s ease-in-out;
}

*::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background: none;
}

#root-portal {
    position: absolute;
    inset: 0;
}
