/* eslint-disable */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: hidden;
    font-family: Equinor;
}

*::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: none;
    width: 4px;
    height: 4px;
}

* > *::-webkit-scrollbar-thumb {
    border-radius: 2px;
    width: 4px;
    height: 4px;
    background-color: rgba(190, 190, 190, 0.3);
    transition: background-color 0.5s ease-in-out;
}

*:hover > *::-webkit-scrollbar-thumb {
    width: 4px;
    height: 4px;
    background-color: rgba(190, 190, 190, 0.8);
    transition: background-color 0.5s ease-in-out;
}

*:hover > *::-webkit-scrollbar-thumb:hover {
    background-color: rgba(134, 134, 134, 0.9);
    transition: background-color 0.5s ease-in-out;
}

*::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background: none;
}

#root-portal {
    position: absolute;
    inset: 0;
}
