@reference "../src/styles/index.css";

body {
    /* background-color: purple; */
    overflow: unset;
    font-family: var(--font-sans);
    font-size: var(--text-body-sm);
    @apply bg-canvas;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
}
