@theme {
    --animate-linear-indefinite: linear-indefinite 3s cubic-bezier(1, 0.1, 0.1, 1) infinite;

    @keyframes linear-indefinite {
        0% {
            transform: translateX(-100%) scaleX(1);
        }
        50% {
            transform: translateX(0%) scaleX(0.25);
        }
        100% {
            transform: translateX(100%);
        }
    }
}
