@layer components {
    .button {
        @apply inline-flex items-center;
        border-radius: var(--radius-rounded);
        transition:
            background-color 0.15s ease-in-out,
            border-color 0.15s ease-in-out,
            color 0.15s ease-in-out;
        cursor: pointer;
    }

    .button-sm {
        min-height: var(--size-selectable-sm);
        font-size: var(--text-ui-sm);
    }

    .button-md {
        min-height: var(--size-selectable-md);
        font-size: var(--text-ui-md);
    }

    .button-lg {
        min-height: var(--size-selectable-lg);
        font-size: var(--text-ui-lg);
    }

    .button__label {
        @apply inline-flex items-center w-full h-full;
        gap: var(--spacing-space-xs);
        padding-inline: var(--spacing-selectable-x);
    }

    .button__icon {
        font-size: 1.25rem;
    }
}
