@layer components {
    .combobox__popup {
        @apply bg-floating shadow-elevation-overlay box-border origin-(--transform-origin) rounded transition-transform;

        max-width: var(--available-width);
        min-width: var(--anchor-width);
        max-height: 24rem;

        &[data-starting-style],
        &[data-ending-style] {
            @apply scale-95 opacity-0;
        }
    }

    .combobox__list {
        @apply box-border scroll-p-px overflow-y-auto overscroll-contain outline-0;
        max-height: min(var(--available-height), 24rem);

        &[data-empty] {
            @apply p-0;
        }
    }
}
