@layer components {
    .popup {
        @apply fixed top-1/2 left-1/2 box-border touch-none rounded shadow-lg transition-all duration-150;
        border-radius: var(--radius-rounded);
        background-color: var(--eds-color-bg-floating);
        outline: 1px solid var(--eds-color-border-neutral-subtle);
        transform: translate(-50%, -50%);

        &[data-starting-style],
        &[data-ending-style] {
            opacity: 0;
            transform: translate(-50%, -50%) scale(0.9);
        }
    }

    .popup__child {
        @apply px-horizontal-sm py-vertical-sm;
    }
}
